<!DOCTYPE html>
<html ng-app>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
     <title>Brewshed main page</title>
     <script type="text/javascript"
             src="/js/angular-1.3.0-beta.3/angular.min.js"></script>
 </head>
    <body>

    <script>
    function Ctrl($scope) {
        $scope.brewer = "Unknown";
    }
    </script>

    <div ng-controller="Ctrl">
    <h1>Welcome to Brewshed, {{ '{{' }} brewer {{ '}}' }}!</h1>
    <p> Please let us know your name: <input type="text" ng-model="brewer"></p>
    </div>
    <p>The only part of Brewshed that is working is the <a href="calculator/">Calculator</a></p>
    </body>
</html>